#root {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(0, 0%, 99%);
  color: hsl(200, 15%, 8%);
  margin: 0;
}

#root.dark-mode,
#search-bar.dark-mode {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

#header-bar.dark-mode,
#search-bar input.dark-mode,
#search-bar select.dark-mode,
.card.dark-mode,
#back-button.dark-mode,
.new-country.dark-mode {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

#header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  background-color: (0, 0%, 100%);
  border: 1px solid transparent;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

#header-bar h1 {
  font-size: 1.5rem;
}

#search-bar {
  margin: 50px 65px 40px;
  display: flex;
  justify-content: space-between;
}

input {
  padding: 20px 20px;
  min-width: 30rem;
  font-size: .8rem;
  color: hsl(200, 15%, 8%);
  border: 1px solid transparent;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

select {
  padding: 20px 30px 20px 20px;
  font-size: .8rem;
  font-weight: 300;
  border: 1px solid transparent;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

#card-holder {
  margin: 0 0 0 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 102px;
}

.card {
  min-width: 16rem;
  max-width: 17rem;
  max-height: 40rem;
  border: 1px solid transparent;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.card-body {
  margin-bottom: 20px;
}

.card img {
  border-bottom: 1px solid transparent;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  border-radius: 5px 5px 0 0;
}

.card-body h2 {
  font-size: 1.1rem;
  font-weight: 800;
  padding: 15px 10px 18px;
}

.card-body p {
  font-size: .9em;
  line-height: .7;
  font-weight: 800;
  padding: 0 0 0 10px;
}

.text {
  font-weight: 500;
}

.big-display {
  display: flex;
  margin: 30px 0 30px 60px;
  padding-bottom: 90px;
  max-width: 1440px;
  width: 100%;
  justify-content: start;
  gap: 120px;
}

#display-body {
  margin: 20px 0px 5px 0;
  min-width: 50%;
}

.big-display h2 {
  font-weight: 800;
  margin-bottom: 35px;
}

.big-display p {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1;
}

.big-display span {
  font-weight: 400;
}

#text-row {
  margin-bottom: 60px;
  display: flex;
}

#text-row div {
  width: 50%;
}

#borders {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

#borders p {
  justify-self: center;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
}

#button-holder {
  display: flex;
  gap: 10px;
}

.new-country {
  padding: 5px 10px;
  min-width: 6rem;
  max-height: 2rem;
  margin-bottom: 5px;
}

#back-button,
.new-country {
  background-color: hsl(0, 0%, 99%);
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

#back-button {
  padding: 9px 35px;
  margin: 50px 0px 35px 60px;
}

@media (min-width: 751px) {
  .big-display img {
    min-width: 600px;
    height: auto;
  }
}

@media (max-width: 750px) {
  .big-display img {
    min-width: none;
    width: 100%;
    height: auto;
    margin: 0 30px;
  }
}